body{
  margin: 0;

  font-family: 'Open Sans', sans-serif;
}

h1{
  font-family: 'Open Sans', sans-serif;
  color: #3F3D56;
font-size: 32px;
line-height: 40px;
}

span{
  color:#EE24FF;
  font-weight: bold;
}

